<% layout('layouts/boilerplate') %>

<style>
    .btn{
        color: white;
        padding: 5px 15px;
        margin-top: 20px;
    }
    .inputBox{
        position: relative;
        width: 100%;
        margin-top: 30px;
    }
    .inputBox input{
        width: 100%;
        padding: 10px;
        border: 1px solid white;
        background:black;
        border-radius: 5px;
        outline: none;
        color: white;
        font-size: 1em;
        transition: 0.5s;
    }
    .inputBox span{
        position: absolute;
        left: 0;
        padding: 10px;
        pointer-events: none;
        font-size: 1em;
        color: rgba(255,255,255,0.35);
        text-transform: uppercase;
        transition: 0.5s;
    }
    .inputBox input:valid ~ span,.inputBox input:focus ~ span{
        color: white;
        transform: translateX(10px) translateY(-7px);
        font-size: 0.65em;
        padding: 0 10px;
        background: black;
        border-left: 1px solid white;
        border-right: 1px solid white;
        letter-spacing: 0.2em;
    }
    .inputBox input:valid,.inputBox input:focus{
        border: 1px solid white;
    }
</style>

<!-- Form to add new room  -->
<div class="row">
    <h1 class="text-center" style="color: white;">
        New room for rent
    </h1>
    <div class="col-6 offset-3">
        <form action="/rooms" method="post" novalidate class="validated-form" enctype="multipart/form-data">
            <!-- Room title  -->
            <div class="inputBox">
                <input type="text" name="room[title]" id="title" required>
                <span>Room Name / Title</span>
                <div class="invalid-feedback">
                    Title is required!
                </div>
            </div>

            <!-- Add room location  -->
            <div class="inputBox">
                <input type="text" name="room[location]" id="location" required>
                <span>Room Location</span>
                <div class="invalid-feedback">
                    Room Location is required!
                </div>
            </div>

            <!-- Add room images  -->
            <div class="inputBox">
                <label for="image" style="color: white; margin-bottom: 5px;">Room Images</label>
                <input type="file" name="image" multiple id="image" required>
                <div class="invalid-feedback">
                    Images of room are required!
                </div>
            </div>

            <!-- Room price  -->
            <div class="inputBox">
                <input type="text" name="room[price]" id="price" required>
                <span>Room price</span>
                <div class="invalid-feedback">
                    Please provide price of the room in Indian Rupees/month.
                </div>
            </div>

            <!-- Room description  -->
            <div class="inputBox">
                <input type="text" name="room[description]" id="description" required>
                <span>Describe about the room</span>
                <div class="invalid-feedback">
                    Please provide description for the room.
                </div>
            </div>

            <!-- Add room button  -->
            <div class="mb-3" style="text-align: right;">
                <button class="btn btn-outline-success">Add Tolet Room</button>
            </div>
        </form>

        <div style="margin-bottom: 20px;">
            <a href="/rooms" class="btn btn-outline-danger" style="padding: 8px 15px;"> <- Back to all rooms</a>
        </div>

    </div>
</div>


