<% layout('layouts/boilerplate') %>

<!-- Form to add new room  -->
<div class="row">
    <h1 class="text-center">
        New room for rent
    </h1>
    <div class="col-6 offset-3">
        <form action="/rooms" method="post" novalidate class="validated-form" enctype="multipart/form-data">

            <!-- Room title  -->
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="room[title]" required>
                <div class="invalid-feedback">
                    Title is a required field
                </div>
            </div>

            <!-- Add room location  -->
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="room[location]" required>
                <div class="invalid-feedback">
                    Location is  required.
                </div>
            </div>

            <!-- Add room images  -->
            <div class="mb-3">
                <label for="image" class="form-label">Upload Images</label>
                <input class="form-control" type="file" id="image" multiple name="image">
            </div>

            <!-- Room price  -->
            <div class="mb-3">
                <label for="price" class="form-label">Room Rent</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">
                        ₹
                    </span>
                    <input type="text" id="price" class="form-control" placeholder="0.00" aria-label="price" aria-describedby="price-label" name="room[price]" required>
                    <div class="invalid-feedback">
                        Please provide price in Indian rupees.
                    </div>
                </div>
            </div>

            <!-- Room description  -->
            <div class="mb-3">
                <label class="form-label" for="description">Room Description</label>
                <textarea class="form-control" type="text" id="description" name="room[description]" required></textarea>
                <div class="invalid-feedback">
                    Please provide description about room!
                </div>
            </div>

            <!-- Add room button  -->
            <div class="mb-3" style="text-align: right;">
                <button class="btn btn-success">Add Tolet Room</button>
            </div>
        </form>

        <div style="margin-bottom: 20px;">
            <a href="/rooms" class="btn btn-danger" style="padding: 8px 15px;">Back to all rooms</a>
        </div>

    </div>
</div>


