.main-class{
    text-align: center;
    width: 60%;
    margin-left : 20%;
    margin-top: 13%;
}

.footer{
    position: absolute;
    bottom: 0;
    left: 44%;
}

body{
    height: 100vh;
    justify-content: center;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) , url('./pexels-eberhard-grossgasteiger-1612351.jpg') ;
    background-size: cover;
    background-position: center;
}