.main-class {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

body {
    height: 100vh;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./pexels-eberhard-grossgasteiger-1612351.jpg');
    background-size: cover;
    background-position: center;
}

.nav-link {
    padding: 0.25rem 0;
    margin-left: 1rem;
    border-bottom: 0.15rem solid transparent;
}

.nav-link:hover {
    border-bottom-color: orange;
}

.text {
    font-size: 5rem;
    letter-spacing: 3px;
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    margin: auto;
    width: 100%;
    animation: typing 7s infinite, cursor 1s step-end infinite alternate;
}

@keyframes cursor {
    50% {
        border-color: transparent
    }
}

@keyframes typing {
    from {
        width: 0
    }
}

.animated-button {
    position: relative;
    letter-spacing: 2px;
    transition: 0.5s;
    background: transparent;
    text-decoration: none;
    color: white;
    border: 1px solid white;
}

.animated-button:hover {
    letter-spacing: 4px;
    background: orange;
    color: black;
    transition: 0.5s;
    box-shadow: 0 0 35px var(--clr);
}

.lead {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
}