<% layout('layouts/boilerplate') %>

<style>
    .btn{
        color: white;
        padding: 5px 15px;
    }
    .inputBox{
        position: relative;
        width: 100%;
        margin-top: 30px;
    }
    .inputBox input{
        width: 100%;
        padding: 10px;
        border: 1px solid white;
        background:black;
        border-radius: 5px;
        outline: none;
        color: white;
        font-size: 1em;
        transition: 0.5s;
    }
    .inputBox span{
        position: absolute;
        left: 0;
        padding: 10px;
        pointer-events: none;
        font-size: 1em;
        color: rgba(255,255,255,0.25);
        text-transform: uppercase;
        transition: 0.5s;
    }
    .inputBox input:valid ~ span,.inputBox input:focus ~ span{
        color: white;
        transform: translateX(10px) translateY(-7px);
        font-size: 0.65em;
        padding: 0 10px;
        background: black;
        border-left: 1px solid white;
        border-right: 1px solid white;
        letter-spacing: 0.2em;
    }
    .inputBox input:valid,.inputBox input:focus{
        border: 1px solid white;
    }
</style>

<div style="text-align: center;">
    <h1 style="color: white;">Login</h1>
</div>

<div style="width: 50%; margin-left: 25%; color: white;">
    <form action="/login" method="post" class="validated-form" novalidate>
        <div class="inputBox">
            <input type="text" name="username" id="username" required>
            <span>User Name</span>
            <div class="invalid-feedback">
                User name is required!
            </div>
        </div>
    
        <div class="inputBox">
            <input type="password" name="password" id="password" required>
            <span>Password</span>
            <div class="invalid-feedback">
                Password is required!
            </div>
        </div>
    
       <div style="text-align: right; margin-top: 20px;">
        <button class="btn btn-outline-success">Login</button>
       </div>
    
    </form>
</div>
